<div class="container mt-5">
  <div class="card mb-3">
    <%= render @board %>
  </div>

  <div class="mt-3 d-flex justify-content-between">
    <%= link_to "Edit this board", edit_board_path(@board), class: "btn btn-primary" %>
    <%= link_to "Back to home page", root_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this board", @board, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>
